*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url("http://source.unsplash.com/1600x900/?weather");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    background-color: rgba(4, 110, 151, 0.5);
    max-width: 430px;
    width: 95%;
    padding: 20px;
    border-radius: 24px;
    border: 1px dashed #fff;
}

.inputCity {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
}

input {
    display: flex;
    position: relative;
    width: 100%;
    min-width: 100px;
    border: 1px dashed #fff;
    outline: none;
    padding: 10px;
    border-radius: 24px;
    background-color: rgba(4, 109, 151, 0.733);
    color: #fff;
	background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 612.08 612.08' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M237.927 0C106.555 0 0.035 106.52 0.035 237.893c0 131.373 106.52 237.893 237.893 237.893c50.518 0 97.368-15.757 135.879-42.597l0.028-0.028l176.432 176.433c3.274 3.274 8.48 3.358 11.839 0l47.551-47.551c3.274-3.274 3.106-8.703-0.028-11.838L433.223 373.8c26.84-38.539 42.597-85.39 42.597-135.907C475.82 106.52 369.3 0 237.927 0z M237.927 419.811c-100.475 0-181.918-81.443-181.918-181.918S137.453 55.975 237.927 55.975s181.918 81.443 181.918 181.918S338.402 419.811 237.927 419.811z'/%3E%3C/g%3E%3C/svg%3E");
    background-size: 22px;
    background-repeat: no-repeat;
    background-position: 95%;
    cursor: pointer;
}

input::placeholder {
    color: rgb(219, 219, 219);
}

input:focus {
    background-color: rgb(5, 128, 177);
}

.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    padding: 30px;
}

h2 {
    color: rgb(255, 255, 255);
    font-size: 1.65rem;
    text-shadow: 2px 2px black;
}

.temp {
    color: #fff;
    text-shadow: 2px 2px black;
}

.description {
    display:flex;
    align-items: center;

    color: #fff;
    text-shadow: 2px 2px black;
    text-transform: capitalize;
}

.icon {
    width: 50px;
    margin-right: 20px;
    text-align: center;
}

.humidity {
    color: #fff;
    text-shadow: 2px 2px black;
}